<br>
<br>
<div class="container bg-light" id="container" style="color: green;">
    <p id="ptext">!!check your knowledge!!<br>
    For each Correct Answer +10 points and for IncorrectAnswer -10 points<br>
    Choose the language to get Tested
    </p>
    <div id="buttons">

    <button class="btn btn-primary " routerLink="/javascript">JAVASCRIPT</button><br><br>
    <button class="btn btn-primary " routerLink="/angular">ANGULAR</button><br><br>
    <button class="btn btn-primary " routerLink="/html">HTML</button><br><br>
    <button class="btn btn-primary " routerLink="/java">JAVA</button><br><br>
    </div>
</div>